#top {
	padding: 50px 0;
}

.space {
	margin-top: 10px;
	margin-bottom: 30px;
}

.error {
	border: 6px solid red;
}

#space {
	padding: 10px;
}

#about {
	background-color: #efefef;
}

#contact {
	background-color: black;
    color: white;
}

#contact .fa {
	color: white;
}

.changeColor a {
	color: white;
}

#errorText {
	color:red;
}