.starter-template {
  margin-top: 60px;
}

.nav-title {
  color: coral !important;
}

.sentence-one {
	color: red;
}

.sentence-two {
	color: green;
	font-size: 30px;
}

.second-template {
	color: purple;
}

.fa-link {
	color: black;
}

.together {
	margin: 0;
	line-height: 16px;
}

.buffer {
	margin-bottom: 8px;
}

.space {
	margin: 10px;
}