.bright {
	color:teal;
}

.caps-small {
	font-weight:bold;
	font-size:15px;
	text-transform:uppercase;
}

.box-size {
	width:1130px;
}

.moveover {
	margin-right:20px;
}

.small-box {
	width:275px;
}

.dotted-line {
	border-top:1px dashed;
}

.dotline-size {
	width:1130px;
	float:left;
}

.shift {
	clear:both;
}


.butcolor {
	background-color:hotpink;
}

.shorter {
	width:550px;
}


.tooclose {
	margin-top:30px;
}

.shimmy {
	float:left;
}

