.underline {
	text-decoration:underline;
}

.bold {
	font-weight: bold;
}

.uppercase {
	text-transform:uppercase;
}

.dotted-line {
	border-top:1px dashed;
}

.text-align {
	text-align: center;
}

.clear {
	clear:both;
}

h3 {
	font-size:18px;
}

.buffer {
	margin-right:20px;
} 